/* 基本共用 */

:root {
    /* 尺寸 */
    --normal-margin: 7pt;
    /* 字体 */
    --kai-font: Cambria, 楷体;
    --song-font: 'Times New Roman', Times, serif;
    --code-font: monospace, '等线';
    --title-font: 'Arial', '黑体';
    /* 字号 */
    --h1-size: 22pt;
    --h2-size: 18pt;
    --h3-size: 16pt;
    --h4-size: 14pt;
    --normal-size: 14pt;
    --mini-size: 12pt;
    /* 颜色 */
    --main-color: #4B7E8F;
    --strip-color: #DFE0DB;
    --highlight: #3484E4;
    --positive: #1DBF71;
    --negative: #EB4D5C;
    --warning: #FEB64E;
}

* {
    box-sizing: border-box;
}


/* 主体 */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0em;
    margin: 0em;
    font-size: var(--normal-size);
    line-height: 1.5em;
}

p {
    margin: 0.5em 0px;
    font-family: var(--song-font);
    text-indent: 2em;
    text-align: justify;
}


/* 图片 */

img {
    margin: 0px auto;
    display: flex;
    max-width: 100%;
}


/* 无序列表 */

ul {
    font-family: var(--song-font);
    margin: 0em;
    margin-left: 2em;
    padding-left: 2em;
}


/* 有序列表 */

ol {
    font-family: var(--song-font);
    margin: 0em;
    margin-left: 2em;
    padding-left: 2em;
}

li {
    margin: 0em;
}

blockquote {
    padding: 0.5em 2em;
    margin: 0px;
    font-family: var(--song-font);
    line-height: 1.5em;
    text-align: justify;
    text-indent: 0em;
    background-color: #f0f0f0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    font-family: var(--song-font);
}

table th {
    border: 1px solid black;
    padding: 5px;
}

table td {
    border: 1px solid black;
    padding: 5px;
}

caption {
    font-family: var(--song-font);
}

.lfdef {
    font-family: var(--title-font);
    color: var(--negative);
}

.lfkey {
    font-family: var(--title-font);
    color: var(--highlight);
}

.lfnote {
    font-family: var(--title-font);
    color: var(--positive);
}

.author {
    font-family: var(--kai-font);
}

.imgtitle {
    margin-bottom: var(--normal-margin);
    font-family: var(--title-font);
    font-size: var(--normal-size);
    text-align: center;
    color: var(--main-color);
}