p {
    font-family: var(--song-font);
    text-indent: 2em;
    margin: 0.5em 0em;
}

a {
    font-family: var(--code-font);
}


/* 表格 */

table {
    font-family: var(--song-font);
    font-size: var(--body-size);
    margin: 0 auto;
    border-collapse: collapse;
}

table th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table td {
    border: 1px solid black;
    padding: 5px;
}

caption {
    font-family: var(--title-font);
    color: var(--main-Color);
}


/* 图片 */

img {
    margin: 0px auto;
    display: flex;
}


/* 无序列表 */

ul {
    font-family: var(--kai-font);
    margin-left: 0em;
    padding-left: 2em;
}


/* 有序列表 */

ol {
    font-family: var(--kai-font);
    margin-left: 0em;
    padding-left: 2em;
}

li {
    margin: 0em;
}


/* 引言块 */

blockquote {
    font-family: var(--song-font);
    margin: 0px;
    padding: 0.5em 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
    background-color: #f0f0f0;
}