p {
    font-family: 宋体;
}

blockquote {
    text-indent: 2em;
}


/* 表格 */

table {
    width: 90%;
    margin: 0 auto;
    font-family: var(--song-font);
    font-size: var(--normal-size);
    border-collapse: collapse;
}

table thead {
    padding: 5px;
    text-align: center;
    font-family: var(--title-font);
    color: var(--main-color);
    background: var(--strip-color);
    border: 1px solid lightgray;
}

table td {
    padding: 5px;
    border: 1px solid lightgray;
}

caption {
    font-family: var(--title-font);
    color: var(--main-Color);
}

.main h1 {
    font-family: var(--title-font);
    font-size: var(--h1-size);
    line-height: 1.5em;
    text-align: center;
    color: var(--main-Color);
    border-bottom: var(--main-Color) solid 2px;
}

.main h2 {
    font-family: var(--title-font);
    font-size: var(--h2-size);
    line-height: 1.5em;
    color: var(--main-Color);
    background-color: var(--strip-Color);
}

.main h3 {
    font-family: var(--title-font);
    font-size: var(--h3-size);
    line-height: 1.5em;
}