/* 单篇文章模板 */

.main h1 {
    font-family: var(--title-font);
    font-size: var(--h1-size);
    font-weight: normal;
    line-height: 1.5em;
    text-align: center;
}

.main h2 {
    font-family: var(--title-font);
    font-size: var(--h2-size);
    font-weight: normal;
    line-height: 1.5em;
    color: var(--main-color);
    border-bottom: var(--main-color) solid 2px;
}

.main h3 {
    font-family: var(--title-font);
    font-size: var(--h3-size);
    font-weight: normal;
    line-height: 1.5em;
    background-color: var(--strip-color);
}

.main h4 {
    margin: 0em;
    font-family: var(--title-font);
    font-size: var(--h4-size);
    font-weight: normal;
    line-height: 1.5em;
    text-indent: 2em;
}

.linktable {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

.linkitem {
    /* 使用等宽字体 */
    flex: 30%;
    margin: var(--normal-margin);
    font-family: var(--code-font);
    line-height: 1.8em;
    text-decoration: none;
    text-align: center;
    color: silver;
    border-radius: 0.5em;
    background: var(--strip-color);
}

.linkitem a {
    text-decoration: none;
    color: var(--main-color);
}

table#imgtable {
    margin: 0 auto;
    font-family: var(--song-font);
    text-align: center;
}