/* 目录列表 */

.menutable {
    display: flex;
    flex-wrap: wrap;
}


/* 目录连接 */

.menuitem {
    /* 使用等宽字体 */
    font-family: var(--code-font);
    flex: 30%;
    line-height: 1.8em;
    margin: 5px;
    text-decoration: none;
}

.main h1 {
    font-family: var(--title-font);
    font-size: var(--h2-size);
    line-height: 1.5em;
    color: var(--main-Color);
    border-bottom: var(--main-Color) solid 2px;
}

.main h2 {
    font-family: var(--title-font);
    font-size: var(--h3-size);
    line-height: 1.5em;
}